h1 {
    color: red;
}

#heading-2 {
    color: blue;
}

.heading {
    color: purple;
}

.para {
    border: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

.navbar {
    border: 3px;
    border-style: solid;
    border-radius: rgb(95, 99, 94);
    padding: 10px;
    background-color: rgb(157, 91, 201);
    text-align: center;
}

.navbar a {
    color: rgb(191, 232, 26);
    padding: 10px;
    text-decoration: none;

}

.navbar a:hover {
    background-color: rgb(227, 232, 231);
}

body {
    margin: 0px;
}


.card {
    border: 2px solid black;
    width: 300px;
    text-align: center;
    margin-top: 30px;
    margin-left: 289px;

}

.card img {
    width: 100%;
}

button {
    margin-bottom: 20px;

}