h1 {
    color: red;
}

#heading-2 {
    color: blue;
}

.heading {
    color: purple;
}

.para {
    border: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align: center;
}